__MACOSX/
config.py
**/assets/private
**/assets/public/ship_icons
**/assets/temp
GameParams.data
*.db
**/__pycache__/**
.idea/
config.py
**/assets/private
GameParams.data
*.db
venv/
**/__pycache__
*.pyc
config.*.*
v3.7/
v3.9/
venv/
rush.txt

