**MACOSX**/
config.py
**/assets/private
**/assets/public/ship_icons
GameParams.data
**/__pycache__/**
.idea/
config.py
**/assets/private
GameParams.data
*.db
!maplesyrup.db
venv/
**/__pycache__
*.pyc
config.*.*
v3.7/
v3.9/
venv/
rush.txt
replay_unpack.old
*.code-workspace
