matplotlib
pandas
beautifulsoup4
aiohttp
psutil
timeago
discord.py
aiosqlite
jishaku
polib
Unidecode
wargaming
Pillow
pycryptodomex
tqdm
mock
ddt
raven
lxml
imageio
imageio-ffmpeg
numpy
hashids
seaborn